<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div *ngFor = "let i of employeeData" class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">SEARCH EMPLOYEE</label>
                    <input type="text" class="form-control" name="emp_id" [(ngModel)]="emp_id">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success" (click)="readValue()">SEARCH</button>
                </div>
            </div>
            <div class="row g-3">
                <div  class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">EMPLOYEE ID</label>
                    <input type="text" class="form-control" value="{{i.emp_id}}" name="emp_id" [(ngModel)]="emp_id">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">NAME</label>
                    <input type="text" class="form-control" value="{{i.name}}" name="name" [(ngModel)]="name">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">DESIGNATION</label>
                    <input type="text" class="form-control" value="{{i.designation}}" name="designation" [(ngModel)]="designation">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">COMPANY NAME</label>
                    <input type="text" class="form-control" value="{{i.company_name}}" name="company_name" [(ngModel)]="company_name">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">DATE OF BIRTH</label>
                    <input type="text" class="form-control" value="{{i.dob}}" name="dob" [(ngModel)]="dob">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">GENDER</label>
                    <input type="text" class="form-control" value="{{i.gender}}" name="gender" [(ngModel)]="gender">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">EMAIL</label>
                    <input type="email" class="form-control" value="{{i.email}}" name="email" [(ngModel)]="email">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">PASSWORD</label>
                    <input type="password" class="form-control" value="{{i.password}}" name="password" [(ngModel)]="password">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-primary">REGISTER</button>
                </div>
            </div>
        </div>
    </div>
</div>