<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Nest</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              EMPLOYEE
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">ADD EMPLOYEE</a></li>
              <li><a class="dropdown-item" href="#">VIEW EMPLOYEE</a></li>
              <li><a class="dropdown-item" href="#">EDIT EMPLOYEE</a></li>
              <li><a class="dropdown-item" href="#">DELETE EMPLOYEE</a></li>
            </ul>
        </li>

            <li>
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    SECURITY
                  </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">ADD SECURITY</a></li>
                  <li><a class="dropdown-item" href="#">VIEW SECURITY</a></li>
                  <li><a class="dropdown-item" href="#">EDIT SECURITY</a></li>
                  <li><a class="dropdown-item" href="#">DELETE SECURITY</a></li>
                </ul> 
            </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>